<%= render :partial => "speed_alarms" %>
<%= render :partial => "new_speed_alarm" %>
<%= render :partial => "geofence_alarms" %>
<%= render :partial => "new_geofence_alarm" %>

<div id="canvas">
  <div id="map"></div>
  <div class="column">
    <div id="alarm-listing">
      <div class="speed-alarms listing"></div>
      <button class="speed btn primary"><%= t("new") %> <%= t("speed_alarm") %></button>
      <div class="geofence-alarms listing"></div>
      <button class="geofence btn primary"><%= t("new") %> <%= t("geofence_alarm") %></button>
    </div>
  </div>
  <div id="new-speed-alarm-panel"></div>
  <div id="new-geofence-alarm-panel"></div>
  <div class="toolbar">
    <div class='button speed'>
      <img src='/assets/103-map.png'><label><%= t("show") %> <%= t("speed_alarms") %></label>
    </div>
    <div class='button geofence'>
      <img src='/assets/103-map.png'><label><%= t("show") %> <%= t("geofence_alarms") %></label>
    </div>
    <div class='button clear'>
      <img src='/assets/103-map.png'><label><%= t("clear") %> <%= t("menu.alarms") %> </label>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(function() {
    new Trackwane.Controllers.AlarmsController({el: "#canvas"});
  });
</script>
