!!!
%head
  %title Gowane
  = stylesheet_link_tag "login"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  = form_for @user_session, :url => user_session_path do |f|
    %div.wrapper
      %div.form
        %div.login
          = f.label :login
          = f.text_field :login
        %div.password
          = f.label :password
          = f.password_field :password
        %button.blue-button
          %div
            Login
      .clear
      - if f.object.errors.any?
        %div.errors
          %ul
            - f.object.errors.full_messages.each do |msg|
              %li.error_message= msg
    .clear
