<script id="parameters-template" type="text/x-handlebars-template">
  <fieldset>
    <label><%= t("report.report_type") %></label>
    <select class="type">
      <option value="Speed"><%= t("historical.speed") %></option>
      <option value="Alert"><%= t("report.alert") %></option>
      <option value="Distance"><%= t("report.distance") %></option>
      <option value="Stop"><%= t("report.stop") %></option>
    </select>
    <label><%= t("historical.date") %></label>
    <input class="datepicker" type="text" />
    <label><%= t("historical.period") %></label>
    <select class="period">
      <option value="DAY"><%= t("report.previous.day") %></option>
      <option value="WEEK"><%= t("report.previous.week") %> </option>
      <option value="MONTH"><%= t("report.previous.month") %> </option>
    </select>
  </fieldset>
</script>
