<%= render :partial => "listing" %>
<%= render :partial => "alert_table" %>
<%= render :partial => "speed_table" %>
<%= render :partial => "distance_table" %>
<%= render :partial => "new_report" %>
<%= render :partial => "stop_table" %>
<%= render :partial => "parameters" %>
<%= render :partial => "presentation" %>
<%= render :partial => "reports" %>

<div id="canvas">
  <div class="presentation"></div>
  <div class="sidebar">
    <div class="report-listing listing lionbars" style="display: none"></div>
    <div class="parameters"></div>
    <div class="device-listing listing lionbars"></div>
    <button class="back btn" style="display: none">Back</button>
    <div class="btn-group">
          <button class="run btn primary">Run Report</button>
          <button data-toggle="dropdown" class="btn primary dropdown-toggle"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a class="your-reports" href="#">Your Reports</a></li>
            <li><a class="save-report" href="#">Save Report</a></li>
          </ul>
        </div>
  </div>
  <div class="toolbar">
    <div class='button pdf'>
      <img src='/assets/103-map.png'><label>Export PDF</label>
    </div>
    <div class='button excel'>
      <img src='/assets/103-map.png'><label>Export Excel</label>
    </div>
    <div class='button toggle'>
      <img src='/assets/103-map.png'><label>Show Data</label>
    </div>
  </div>
  <div class="saved-report-details"></div>
</div>

<script type="text/javascript">
  $(function() {
    var controller = new Trackwane.Controllers.ReportsController({el: "#canvas"});
  });
</script>