<%=render :partial => "shared/popup" %>
<%=render :partial => "place_popup" %>
<%=render :partial => "map/realtime/device_listing" %>
<%=render :partial => "map/realtime/follow_device" %>
<%=render :partial => "map/realtime/send_command" %>

<div id="canvas">
  <div id="map"></div>
  <div class="listing"></div>
  <div class="follow panel"></div>
  <div class="send-command panel"></div>
  <div class="toolbar">
    <div class='places button'><img src='/assets/103-map.png'><label>Places</label></div>
    <div class='geofences button'><img src='/assets/103-map.png'><label>Geofences</label></div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    new App.Controllers.RealtimeController({el: "#canvas"});
  });
</script>
