<% content_for :scripts do %>
  <script src="http://js.pusher.com/1.11/pusher.min.js"></script>
<% end %>

<%=render :partial => "shared/popup" %>
<%=render :partial => "place_popup" %>
<%=render :partial => "map/realtime/device_listing" %>
<%=render :partial => "map/realtime/follow_device" %>
<%=render :partial => "map/realtime/send_command" %>

<div id="canvas">
  <div id="map"></div>
  <div class="listing lionbars"></div>
  <div class="follow panel"></div>
  <div class="send-command panel"></div>
  <div class="toolbar">
    <div class='places button'><img src='/assets/103-map.png'><label><%= t("historical.places") %></label></div>
    <div class='geofences button'><img src='/assets/103-map.png'><label><%= t("historical.geofences") %></label></div>
  </div>
</div>

<style type="text/css">
  .listing {position: inherit!important; width: 250px}
</style>

<script type="text/javascript">
  $(function() {
    new Trackwane.Controllers.RealtimeController({el: "#canvas", events: gon.events});
  });
</script>
