<% content_for :scripts do %>
  <script src="http://js.pusher.com/1.11/pusher.min.js"></script>
<% end %>

<%=render :partial => "shared/popup" %>

<div id="canvas">
  <div id="viewport" style="height: 100%; width: 100%">
      <div style="float: left; width: 100%; height: 100%; margin-left: -200px">
        <div id="map"></div>
      </div>
      <div style="width: 200px; float: right; height: 100%; overflow-y: scroll; background-color: rgba(50, 50, 50, 0.9)">
         <%= render :partial => "map/templates/trackers/panel" %>
            <%= render :partial => "map/templates/geofence_alarms/panel" %>
            <%= render :partial => "map/templates/speed_alarms/panel" %>
            <%= render :partial => "map/templates/places/panel" %>
          <br/>
          <br/>
      </div>
  </div>
</div>

<div id="menu">
  <div class="pullout">
    <a href="#" class="toggle">open</a>
  </div>
  <div class="options">
    <table>
      <tr>
        <td><a href="#">Map</a></td>
        <td><a href="#">Timelines</a></td>
        <td><a href="#">Reports</a></td>
        <td><a href="#">Users</a></td>
      </tr>
    </table>
  </div>
</div>

<style type="text/css">
  #menu {
    left: 50%;
    top: 100%;
    width: 200px;
    position: absolute;
    margin-top: -25px ;
    z-index: 999999999999;
  }
  .pullout {
    font-size: 11px;
    width: 28px;
    margin: auto;
    font-variant: small-caps;
    border: 1px solid white;
    background-color: #434343;
    padding: 5px 10px ;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .row-action {font-size: 9px; margin-right: 8px}
  .panel-title {margin-left: 10px}
  .panel-action {float: right; margin-right: 10px; font-weight: bold}
  .panel-header {padding-top: 5px; padding-bottom: 5px; background-color: rgba(50, 50, 50, 0.9)}
</style>

<style type="text/css">
  .btn-add {font-weight: bold; margin: 5px 10px; display: inline-block;}
  #canvas {background-image: none}
</style>

<script type="text/javascript">
  $(function() {
    window.runtime = new Trackwane.Controllers.RealtimeController({el: "#canvas", events: gon.events, extent: gon.extent, geofence_alarms: gon.geofence_alarms, speed_alarms: gon.speed_alarms, devices: gon.devices, places: gon.places});
  });
</script>
