<script id="new-place-panel-template" type="text/x-handlebars-template">
  <div>
    <h1><%= t("new") %> <%= t("places.place") %></h1>
    <p><%= t("places.new_places_instruction") %></p>
      <form>
    <fieldset>
      <label for="place_name"><%= t("name") %></label>
      <input id="place_name" name="place[name]" type="text" />
      <label for="place_category"><%= t("places.category") %></label>
      <input id="place_category" name="place[category]" type="text" />
      <button class="success btn accept"><%= t("accept") %></button>
      <button class="btn cancel"><%= t("cancel") %></button>
    </fieldset>
        </form>
  </div>
</script>
