<%= render :partial => "listing" %>
<%= render :partial => "new_place" %>
<%= render :partial => "popup" %>

<div id="canvas">
  <div id="map"></div>
  <div class="toolbar">
    <div class='button'><img src='/assets/103-map.png'><label><%= t("places.hide_place_names") %></label></div>
  </div>
  <div class="sidepanel">
    <div class="listing"></div>
    <button class="primary btn new-place" style="margin-top: 10px"><%= t("new") %> <%= t("places.place") %> </button>
  </div>
  <div id="new-place-panel"></div>
</div>

<script type="text/javascript">
  $(function() {
    new Trackwane.Controllers.PlacesController({el: "#canvas", places: gon.places, extent: gon.extent});
  });
</script>

<style type="text/css">
  #canvas {background-image: none}
</style>
